
<div width="100px">  
<label for="">Todo App</label> <br>
<input type="text" [(ngModel)]="todoItem" >
<button id="btnAdd" (click)=addItemToTodoList()>+</button>
<br><br><br>
<ul class="list-group">
  <li *ngFor="let item of todoList; let itemIndex = index" class="list-group-item d-flex justify-content-between align-items-center">
    <div width=80%>
    <label for="">{{item}}</label>
  </div>
  <div width=20%>
    <button class="badge badge-primary badge-pill" style="float:right;" (click)="addToCompletedList(itemIndex)">Done</button>
  </div>
  </li>
</ul>
</div>

<div width="200px">

  <label for="">Completed</label>
  <ul class="list-group">
  <li *ngFor="let item of completedList; let itemIndex = index" class="list-group-item d-flex justify-content-between align-items-center">
      <div width=80%>
      <label for="">{{item}}</label> </div>
      <div width=20%>
      <button (click)="removeFromCompletedList(itemIndex)">-</button>
    </div>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
